<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task-Mana</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
    <header id="headBar">
        <img src="../public/images/task-mana.png" type=".png" alt="site-logo">
        <h1>TASK-MANA</h1>
        <ul>
            <li><a href="/views/auth/login.hbs">Log in</a></li>
            <li><a href="/views/auth/signup.hbs">Sign up</a></li>
        </ul>
    </header>
</body>

</html>